# MED 277 Project
Team members: Rohit Kumar, Yuguang Lin, Rongrong Miao

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# read relevant columns to panda dataframe
admission = pd.read_csv('ADMISSIONS.csv', usecols=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 
                                                   'DEATHTIME', 'ADMISSION_TYPE', 'DISCHARGE_LOCATION', 'DIAGNOSIS'])
# convert admission time and discharge time death time to correct format
admission.ADMITTIME = pd.to_datetime(admission.ADMITTIME, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
admission.DISCHTIME = pd.to_datetime(admission.DISCHTIME, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
admission.DEATHTIME = pd.to_datetime(admission.DEATHTIME, format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')

In [8]:
admission[:5]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,DISCHARGE_LOCATION,DIAGNOSIS
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,DISC-TRAN CANCER/CHLDRN H,BENZODIAZEPINE OVERDOSE
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,HOME HEALTH CARE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,HOME HEALTH CARE,BRAIN MASS
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,HOME,INTERIOR MYOCARDIAL INFARCTION
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,HOME,ACUTE CORONARY SYNDROME

In [11]:
# sort before group by
admission = admission.sort_values(['SUBJECT_ID','ADMITTIME'])
admission = admission.reset_index(drop = True)

# add the next admission date and type for each subject 
admission['NEXT_ADMITTIME'] = admission.groupby('SUBJECT_ID').ADMITTIME.shift(-1)
admission['NEXT_ADMISSION_TYPE'] = admission.groupby('SUBJECT_ID').ADMISSION_TYPE.shift(-1)

In [15]:
admission[:20]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,DISCHARGE_LOCATION,DIAGNOSIS,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE
0,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaT,NEWBORN,HOME,NEWBORN,NaT,NaN
1,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,SNF,HYPOTENSION,NaT,NaN
2,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,HOME WITH HOME IV PROVIDR,"FEVER,DEHYDRATION,FAILURE TO THRIVE",NaT,NaN
3,4,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaT,NEWBORN,HOME,NEWBORN,NaT,NaN
4,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,HOME HEALTH CARE,CHRONIC RENAL FAILURE/SDA,NaT,NaN
5,6,7,118037,2121-05-23 15:05:00,2121-05-27 11:57:00,NaT,NEWBORN,HOME,NEWBORN,NaT,NaN
6,7,8,159514,2117-11-20 10:22:00,2117-11-24 14:20:00,NaT,NEWBORN,HOME,NEWBORN,NaT,NaN
7,8,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,DEAD/EXPIRED,HEMORRHAGIC CVA,NaT,NaN
8,9,10,184167,2103-06-28 11:36:00,2103-07-06 12:10:00,NaT,NEWBORN,SHORT TERM HOSPITAL,NEWBORN,NaT,NaN
9,10,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,EMERGENCY,HOME HEALTH CARE,BRAIN MASS,NaT,NaN
10,11,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,ELECTIVE,DEAD/EXPIRED,PANCREATIC CANCER/SDA,NaT,NaN
11,12,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,EMERGENCY,HOME HEALTH CARE,CORONARY ARTERY DISEASE,NaT,NaN
12,13,16,103251,2178-02-03 06:35:00,2178-02-05 10:51:00,NaT,NEWBORN,HOME,NEWBORN,NaT,NaN
13,14,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,ELECTIVE,HOME HEALTH CARE,PATIENT FORAMEN OVALE\ PATENT FORAMEN OVALE MI...,2135-05-09 14:11:00,EMERGENCY
14,15,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,NaT,EMERGENCY,HOME HEALTH CARE,PERICARDIAL EFFUSION,NaT,NaN
15,16,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,EMERGENCY,HOME,HYPOGLYCEMIA;SEIZURES,NaT,NaN
16,17,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,EMERGENCY,REHAB/DISTINCT PART HOSP,C-2 FRACTURE,NaT,NaN
17,18,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,ELECTIVE,HOME,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,NaT,NaN
18,19,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,EMERGENCY,REHAB/DISTINCT PART HOSP,CONGESTIVE HEART FAILURE,2135-01-30 20:50:00,EMERGENCY
19,20,21,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,EMERGENCY,DEAD/EXPIRED,SEPSIS,NaT,NaN

In [16]:
admission = admission.sort_values(['SUBJECT_ID','ADMITTIME'])
# back fill
admission[['NEXT_ADMITTIME','NEXT_ADMISSION_TYPE']] = admission.groupby(['SUBJECT_ID'])[['NEXT_ADMITTIME','NEXT_ADMISSION_TYPE']].fillna(method = 'bfill')

In [17]:
# compute days elapsed until next readmission
admission['DAYS_NEXT_ADMIT']=  (admission.NEXT_ADMITTIME - admission.DISCHTIME).dt.total_seconds()/(24*60*60)

In [47]:
# number of records that were readmitted in less than or equal to 30 days: 3390
records = admission[admission.DAYS_NEXT_ADMIT <= 30]
records[:10]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,DISCHARGE_LOCATION,DIAGNOSIS,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE,DAYS_NEXT_ADMIT
35,36,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,EMERGENCY,HOME HEALTH CARE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2131-05-12 19:49:00,EMERGENCY,4.242361
68,69,68,170467,2173-12-15 16:16:00,2174-01-03 18:30:00,NaT,EMERGENCY,HOME HEALTH CARE,PNEUMONIA,2174-01-04 22:21:00,EMERGENCY,1.160417
105,106,103,130744,2144-08-12 17:37:00,2144-08-20 11:15:00,NaT,EMERGENCY,SNF,SUBARACHNOID HEMORRHAGE,2144-08-30 23:09:00,EMERGENCY,10.495833
108,109,105,161160,2189-01-28 16:57:00,2189-02-02 16:40:00,NaT,EMERGENCY,HOME,"FEVER,ORIGIN UNKNOWN;DYSRHYTHMIA;TELEMETRY",2189-02-21 01:45:00,EMERGENCY,18.378472
117,118,109,164029,2140-01-19 13:25:00,2140-01-21 13:25:00,NaT,EMERGENCY,HOME,HYPERTENSION,2140-02-02 02:13:00,EMERGENCY,11.533333
119,120,109,193281,2140-04-07 19:51:00,2140-05-02 16:30:00,NaT,EMERGENCY,HOME HEALTH CARE,HYPERTENSIVE URGENCY,2140-05-17 14:27:00,EMERGENCY,14.914583
123,124,109,170149,2141-05-24 14:47:00,2141-06-06 19:55:00,NaT,EMERGENCY,HOME HEALTH CARE,ACUTE RENAL FAILURE,2141-06-11 10:17:00,EMERGENCY,4.598611
125,126,109,131345,2141-09-05 20:04:00,2141-09-08 18:30:00,NaT,EMERGENCY,HOME,HYPERTENSION,2141-09-11 10:12:00,EMERGENCY,2.654167
126,127,109,139061,2141-09-11 10:12:00,2141-09-14 20:00:00,NaT,EMERGENCY,HOME HEALTH CARE,HYPERTENSION,2141-09-18 10:32:00,EMERGENCY,3.605556
127,128,109,172335,2141-09-18 10:32:00,2141-09-24 13:53:00,NaT,EMERGENCY,HOME HEALTH CARE,LEG PAIN,2141-10-13 23:10:00,EMERGENCY,19.386806

In [49]:
# read the notes table 
notes = pd.read_csv("NOTEEVENTS.csv")
discharge_sum = notes.loc[notes.CATEGORY == 'Discharge summary']
notes_dis_sum_last = (discharge_sum.groupby(['SUBJECT_ID','HADM_ID']).nth(-1)).reset_index()

In [50]:
# perform a left join of the two datatable
dt_table = pd.merge(admission,notes_dis_sum_last[['SUBJECT_ID','HADM_ID','TEXT']], on = ['SUBJECT_ID','HADM_ID'],how = 'left')

In [61]:
# check a random record in the data table 
dt_table.iloc[7].TEXT

'Name:  [**Known lastname 10050**], [**Known firstname 779**]                      Unit No:  [**Numeric Identifier 10051**]\n\nAdmission Date:  [**2149-11-9**]     Discharge Date:  [**2149-11-14**]\n\nDate of Birth:   [**2108-1-26**]     Sex:  M\n\nService:\n\nDespite mannital and hyperventilation on the [**2149-11-13**], patient continued to neurologically decline.  A brain\ndeath exam was done showing that the patient had dilated\nunreactive pupils with no evidence of a corneal or gag\nreflex. He also did not respond to any noxious stimuli\ndespite being off propofol.\n\nAn apnea test was performed allowing the pCO2 to rise above\n60, and the patient still did not take any breath during the\n10 minute interval.  At this time he was declared brain\ndeath.  His family requested no organ donor or autopsy be\ndone.\n\n\n\n                          [**First Name8 (NamePattern2) 2121**] [**First Name8 (NamePattern2) **] [**Last Name (NamePattern1) **], M.D.  [**MD Number(1) 9973**]\n\nDictated By:[**Last Name (NamePattern1) 4387**]\n\nMEDQUIST36\n\nD:  [**2149-11-23**]  23:19\nT:  [**2149-11-24**]  06:19\nJOB#:  [**Job Number 10052**]\n'

In [64]:
dt_table[:5]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,DISCHARGE_LOCATION,DIAGNOSIS,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE,DAYS_NEXT_ADMIT,TEXT
0,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaT,NEWBORN,HOME,NEWBORN,NaT,NaN,NaN,NaN
1,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,SNF,HYPOTENSION,NaT,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...
2,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,HOME WITH HOME IV PROVIDR,"FEVER,DEHYDRATION,FAILURE TO THRIVE",NaT,NaN,NaN,Admission Date: [**2191-3-16**] Discharge...
3,4,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaT,NEWBORN,HOME,NEWBORN,NaT,NaN,NaN,NaN
4,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,HOME HEALTH CARE,CHRONIC RENAL FAILURE/SDA,NaT,NaN,NaN,Admission Date: [**2175-5-30**] Dischar...

In [66]:
# filter out new born records because a lot of them don't have discharge summary
dt_table = dt_table[dt_table.ADMISSION_TYPE != 'NEWBORN']

In [70]:
# add a column for label
dt_table['LABEL'] = (dt_table.DAYS_NEXT_ADMIT <= 30).astype('int')

In [71]:
# check the first 20 records in the data table 
dt_table[:20]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,DISCHARGE_LOCATION,DIAGNOSIS,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE,DAYS_NEXT_ADMIT,TEXT,LABEL
1,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,SNF,HYPOTENSION,NaT,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...,0
2,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,HOME WITH HOME IV PROVIDR,"FEVER,DEHYDRATION,FAILURE TO THRIVE",NaT,NaN,NaN,Admission Date: [**2191-3-16**] Discharge...,0
4,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,HOME HEALTH CARE,CHRONIC RENAL FAILURE/SDA,NaT,NaN,NaN,Admission Date: [**2175-5-30**] Dischar...,0
7,8,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,DEAD/EXPIRED,HEMORRHAGIC CVA,NaT,NaN,NaN,"Name: [**Known lastname 10050**], [**Known fi...",0
9,10,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,EMERGENCY,HOME HEALTH CARE,BRAIN MASS,NaT,NaN,NaN,Admission Date: [**2178-4-16**] ...,0
10,11,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,ELECTIVE,DEAD/EXPIRED,PANCREATIC CANCER/SDA,NaT,NaN,NaN,Admission Date: [**2104-8-7**] Discharge ...,0
11,12,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,EMERGENCY,HOME HEALTH CARE,CORONARY ARTERY DISEASE,NaT,NaN,NaN,"Name: [**Known lastname 9900**], [**Known fir...",0
13,14,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,ELECTIVE,HOME HEALTH CARE,PATIENT FORAMEN OVALE\ PATENT FORAMEN OVALE MI...,2135-05-09 14:11:00,EMERGENCY,128.920833,Admission Date: [**2134-12-27**] ...,0
14,15,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,NaT,EMERGENCY,HOME HEALTH CARE,PERICARDIAL EFFUSION,NaT,NaN,NaN,Admission Date: [**2135-5-9**] D...,0
15,16,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,EMERGENCY,HOME,HYPOGLYCEMIA;SEIZURES,NaT,NaN,NaN,"Name: [**Known lastname 4919**] JR,[**Known f...",0
16,17,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,EMERGENCY,REHAB/DISTINCT PART HOSP,C-2 FRACTURE,NaT,NaN,NaN,Admission Date: [**2108-8-5**] D...,0
17,18,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,ELECTIVE,HOME,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,NaT,NaN,NaN,Admission Date: [**2183-4-28**] Dischar...,0
18,19,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,EMERGENCY,REHAB/DISTINCT PART HOSP,CONGESTIVE HEART FAILURE,2135-01-30 20:50:00,EMERGENCY,128.190972,Admission Date: [**2134-9-11**] ...,0
19,20,21,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,EMERGENCY,DEAD/EXPIRED,SEPSIS,NaT,NaN,NaN,Admission Date: [**2135-1-30**] ...,0
20,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,DISC-TRAN CANCER/CHLDRN H,BENZODIAZEPINE OVERDOSE,NaT,NaN,NaN,Admission Date: [**2196-4-9**] Discharg...,0
21,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,HOME HEALTH CARE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,2157-10-18 19:34:00,EMERGENCY,1501.016667,Admission Date: [**2153-9-3**] D...,0
22,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,HOME HEALTH CARE,BRAIN MASS,NaT,NaN,NaN,Admission Date: [**2157-10-18**] ...,0
23,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,HOME,INTERIOR MYOCARDIAL INFARCTION,NaT,NaN,NaN,Admission Date: [**2139-6-6**] D...,0
24,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,HOME,ACUTE CORONARY SYNDROME,NaT,NaN,NaN,Admission Date: [**2160-11-2**] ...,0
25,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,EMERGENCY,HOME,V-TACH,NaT,NaN,NaN,Admission Date: [**2126-5-6**] Discharge ...,0